@{
    DateTime date = DateTime.Today;
    var today = date.ToString("yyyy-MM-dd");
}

<div class="w-auto d-flex flex-column justify-content-center">
    <p class="pt-2 pe-2 text-end">Dagens datum är:<br class="d-xs-block d-md-none"> @(today)</p>
</div>