@{
    DateTime now = DateTime.Now;
    var dayOfWeek = DateTime.Today.DayOfWeek.ToString();
}

<div>
    <h2 class="fs-4">Information</h2>
    <p>Datum/klockslag: @(now)</p>
    @if(dayOfWeek == "Friday") {
        <p>Idag är de fredag!</p>
    } else {
        <p>Idag är det inte fredag :(</p>
    }
</div>