@page
@model MyApp.Namespace.AboutModel
@{
    ViewData["Title"] = "Om utvecklaren";
}

<!-- MAIN CONTENT -->
<div class="w-100 p-3">
    <h1 class="fs-2">@ViewData["Title"]</h1>
    <div class="my-3">
        <p>
            Emma heter jag, jag är 31 år och studerar just nu mitt andra år på Webbutvecklingsprogrammet vid Mittuniversitetet.
            <br>
            Jag bor i Norrköping tillsammans med min sambo Rasmus och vår hund Benjamin sedan sommaren 
            2024 då jag flyttade hit från det lilla samhället Åtvidaberg.
        </p>
        <p>
            Tidigare har jag under större delen av mitt arbetsliv jobbat på däckverkstad, 
            men fann intresset för webbutveckling när jag under 2022 kände att det var 
            dags att sadla om och började leta utbildningar.
            <br>
            Det som först fångade mitt intresse för webbutvecklingen - och som fortfarande driver mig - 
            är kombinationen av logik och problemlösning i programmeringen, tillsammans med möjligheten 
            att uttrycka kreativitet genom form och design. Framför allt är det den ständiga utmaningen 
            att lära sig nya tekniker och koncept som håller passionen vid liv.
        </p>
    </div>
</div>
