@page
@model IndexModel
@{
    ViewData["Title"] = "Hem";
}


    <!-- MAIN CONTENT -->
    <div class="w-100 p-3">
        <h1 class="fs-2">Välkommen hit!</h1>
        <div class="my-3">
            <p>
                Detta är webbplatsen för moment 1.1 i kursen Webbutveckling med .NET. 
                <br>
                I uppgiften ska vi skapa en enklare webbplats med ASP.net Core för att få testa att jobba med Razor-pages.
            </p>
            <p>
                Webbplatsen skall skapas enligt en fördefinierad wireframe för större skärmar som vi fått till uppgiften. 
                Enligt denna wireframe ska menyn ligga i en spalt till vänster som sidinnehållet, då webbplatsen ska 
                vara responsiv har jag valt att för mindre skärmar använda en "hamburger-meny", 
                vilket gör att menyn inte ställer till det för resterande innehåll.
            </p>
        </div>
    </div>
