@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="d-lg-flex ">
    <partial name="_NavMenu" />
    <div class="w-100 ps-3">
        <h1 class="display-4 text-center">Välkommen hit!</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</div>
