@page
@model MyApp.Namespace.RazorModel
@{
    ViewData["Title"] = "Razor";
}

<div class="d-md-flex ">
    <partial name="_NavMenu" />
    <!-- MAIN CONTENT -->
    <div class="w-100 p-3">
        <h1 class="display-4">@ViewData["Title"]</h1>
        <div class="my-3">
            <partial name="_Information" />
            <partial name="_CourseList" />
        </div>
    </div>
</div>
